 <footer class="text-center text-white mt-4" style="background-color: #e84393;background-image: linear-gradient(315deg, #e84393 0%, #000000 74%);">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: CTA -->
      <section class="subscribe">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">Register on  <%= link_to image_tag('footer-logo-140.png', :size => '140x24'), root_path %>  for free</span>
           <%= link_to "Sign Up!", new_user_registration_path, class: "btn btn-warning btn-semi-rounded" %>

        </p>
      </section>
      <!-- Section: CTA -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 -
      <a class="text-white" href="https://xhostcom.com/">Paul Anthony McGowan</a>
    </div>
    <!-- Copyright -->
  </footer>

